<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">

    <div class="emptySpace"></div>

    <h2>Add Major</h2>
    <div class="space"></div>

    <form action="#" th:action="@{/processMajor}" th:object="${major}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
            <select th:field="*{department}" class="form-control input-md">
                <table>
                    <tr th:each="aDep: ${departments}">
                        <option th:value="${aDep.id}">[[${aDep.departmentName}]]</option>
                    </tr>
                </table>
            </select>
        </div>

        <label for="majorName" class="col-sm-2 col-form-label">Major Name</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="majorName" rows="1" th:field="*{name}"></textarea>
        </div>

        <input type="submit" value="Submit"/>
    </form>

    <div class="emptySpace"></div>
</div>


</body>
</html>