<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th class="text-center">Department Name</th>
                <th class="text-center">Major Name</th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="major : ${majors}">
                <td><span th:text="${major.department.departmentName}"></span></td>
                <td><span th:text="${major.name}"></span></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-primary" th:href ="@{/updateMajor/{id}(id=${major.id})}">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="emptySpace"></div>

<footer th:replace="base :: footer"></footer>
<br/>

<div class="space"></div>
<div th:replace="base :: scripts"></div>
</body>
</html>