<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">

    <h3 class="p-4">Add Class</h3>
    <hr/>

    <div class="row text-center pl-5">
        <form action="#"
              th:action="@{/addCourse}"
              th:object="${course}"
              method="post">

            <input type="hidden" th:field="*{id}">

            <input type="hidden" th:value="${user_id}" name="user_id">

            <div class="form-group row">

                <label class="col-sm-2 col-form-label">Department</label>
                <div class="col-sm-10">
                    <select th:field="*{department}" class="form-control input-md">
                    <table>
                        <tr th:each="aDep: ${departmentList}">
                            <option th:value="${aDep.id}">[[${aDep.departmentName}]]</option>
                        </tr>
                    </table>
                    </select>
                </div>

                <label class="col-sm-2 col-form-label">Major</label>
                <div class="col-sm-10">
                    <select th:field="*{major}" class="form-control input-md">
                        <table>
                            <tr th:each="aMaj: ${majorList}">
                                <option th:value="${aMaj.id}">[[${aDep.name}]]</option>
                            </tr>
                        </table>
                    </select>
                </div>

                <label for="subjectCode" class="col-sm-2 col-form-label">Subject Code</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="subjectCode" rows="1" th:field="*{subjectCode}"></textarea>
                </div>

                <label for="courseCrn" class="col-sm-2 col-form-label">CRN</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="courseCrn" rows="1" th:field="*{crn}"></textarea>
                </div>

                <label for="courseName" class="col-sm-2 col-form-label">Course title</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="courseName" rows="1" th:field="*{name}"></textarea>
                </div>

                <label for="courseDetail" class="col-sm-2 col-form-label">Course detail</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="courseDetail" rows="1" th:field="*{detail}"></textarea>
                </div>

                <label for="courseCredits" class="col-sm-2 col-form-label">Credits</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="courseCredits" rows="1" th:field="*{numOfCredits}"></textarea>
                </div>

            </div>

            <input class="submit-btn" type="submit" value="Submit"/>
            <div class="space"></div>
        </form>
    </div>

</div>

<footer th:replace="base :: footer"></footer>
</body>
</html>