<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">

    <div class="emptySpace"></div>

    <h2>Add Department</h2>
    <div class="space"></div>

    <form action="#" th:action="@{/processdepartment}" th:object="${department}" method="post">
        <input type="hidden" th:field="*{id}"/>

        Department Name : <input type="text" th:field="*{name}"/> <br>

        <input type="submit" value="Submit"/>
    </form>

    <div class="emptySpace"></div>
</div>


</body>
</html>