<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">
    <div class="space"></div>

<h2>Admin Page</h2>
    <hr/>
    <div class="space"></div>

    <button class="btn btn-info"><a class="text-white" href="/department">Department</a></button><br/>
    <p>View all departments, add, update, or delete a department.</p>

    <button class="btn btn-info"><a class="text-white" href="/major">Major</a></button><br/>
    <p>View all major, add, update, delete a major.</p>

    <button class="btn btn-info"><a class="text-white" href="/course">Course</a> </button><br/>
    <p>View all course, courses by an instructor,courses in a department, add, update, delete a major.</p>


    <button class="btn btn-info"><a class="text-white" href="/classroom">Classroom</a> </button><br/>
    <p>View all classroom, list of all classrooms used by a course, list of all classrooms used by an instructor,
        list of all classrooms used by a student, override maximum enrollment hold. </p>

    <button class="btn btn-info"><a class="text-white" href="#">Semester</a></button><br/>
    <p>Remove class from schedule for current or later semester</p>

    <button class="btn btn-info"><a class="text-white" href="/class">Class</a> </button><br/>
    <p>View list of classes taught by an instructor, classes of a course, classes in current semester,
        classes in a subject in current semester, classes by an instructor in a current semester,
        classes at a certain time in the current semester</p>

    <button class="btn btn-info"><a class="text-white" href="/instructor">Instructor</a></button><br/>
    <p>Create an Instructor, update, delete and list of classes taught by instructor</p>

    <button class="btn btn-info"><a class="text-white" href="#">Student</a> </button><br/>
    <p>Should be able to create update or delete an Student</p>
    <p>view a list of all students taught by an instructor</p>

    <button class="btn btn-info"><a class="text-white" href="#">Change user </a> </button><br/>
    <p>Change a new users type to (student, instructor, advisor or administrator)</p>

    <div class="emptySpace"></div>
</div>
<div class="emptySpace"></div>

</body>
</html>