<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="nav">

    <nav class="navbar navbar navbar-expand-lg navbar-light bg-dark" th:fragment="main-navbar">
        <a class="navbar-brand text-info" href="/">
            &nbsp;HarrisonCollege
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--</nav>-->
            <ul class="nav navbar-nav ml-auto">
                <li sec:authorize="isAuthenticated()" class="nav-link text-white" th:inline="text">
                    Welcome [[${#authentication.name}]]!
                </li>
                <!--<li sec:authorize="isAuthenticated()" class="nav-item text-light active">-->
                    <!--<a class="nav-link text-info" href="/myprofile">My Profile</a>-->
                <!--</li>-->
                <!--<li class="nav-item text-light">-->
                    <!--<a class="nav-link text-info" href="/">Home</a>-->
                <!--</li>-->
                <!--<li sec:authorize="isAuthenticated()" class="nav-item text-light">-->
                    <!--<a class="nav-link text-info" href="/add">Add Course</a>-->
                <!--</li>-->
                <!--<li sec:authorize="isAuthenticated()" class="nav-item text-light">-->
                    <!--<a class="nav-link text-info" href="/admin">Admin</a>-->
                <!--</li>-->

                <li sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link text-info" href="/admin">Admin</a>
                </li>

                <li sec:authorize="hasAuthority('INSTRUCTOR')">
                    <a class="nav-link text-info" href="/instructor">Instructor</a>
                </li>


                <li sec:authorize="hasAuthority('STUDENT')">
                    <a class="nav-link text-info" href="/student">Student</a>
                </li>

                <li sec:authorize="hasAuthority('ADVISOR')">
                    <a class="nav-link text-info" href="/advisor">Advisor</a>
                </li>


                <!--<li sec:authorize="isAuthenticated()" class="nav-item text-light">-->
                    <!--<a class="nav-link text-info" href="/advisor">Advisor</a>-->
                <!--</li>-->

                <!--<li sec:authorize="isAuthenticated()" class="nav-item text-light">-->
                    <!--<a class="nav-link text-info" href="/instructor">Instructor</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link text-info" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link text-info" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="space"></div>

    <div class="jumbotron text-center">
        <!--<h1>Fido is Missing! &#9785;</h1>-->
        <h1>Harrison College</h1>
    </div>

    <div class="space"></div>

</div>
    <!--<nav class="navbar navbar-expand-sm bg-light">-->
        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<ul class="navbar-nav">-->
            <!--<li sec:authorize="isAuthenticated()" class="nav-item welcome-user" th:inline="text">-->
                <!--Welcome [[${#authentication.name}]]!-->
            <!--</li>-->
            <!--<li sec:authorize="isAuthenticated()" class="nav-item">-->
                <!--<a class="nav-link" href="/myprofile">My Profile</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="/">Home</a>-->
            <!--</li>-->
            <!--<li sec:authorize="isAuthenticated()" class="nav-item">-->
                <!--<a class="nav-link" href="/add">Add New Pet</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="/login">Login</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->


    <footer th:fragment="footer">
        <div class="footer" align="center">
            <hr/>
            <span class="text-muted">&copy; 2018 Josemy Joseph</span>
        </div>
    </footer>

    <div th:fragment="scripts">
        <script src="/js/jquery.3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
    </div>

</div>
</body>
</html>