<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">


    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>Department</th>
                <th>Subject</th>
                <th>Course</th>
                <th>Class CRN</th>
                <th>Instructor</th>
                <th>Class Days</th>
                <th>Class Time</th>
                <th>Credits</th>
                <th>Semester</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aClass : ${classes}">
                <td><span th:text="${aClass.course.major.department.departmentName}"></span></td>
                <td><span th:text="${aClass.course.subject.subjectName}"></span></td>
                <td><span th:text="${aClass.course.courseName}"></span></td>
                <td><span th:text="${aClass.crn}"></span></td>
                <td><span th:text="${aClass.instructor.user.name}"></span></td>
                <td><span th:text="${aClass.days}"></span></td>
                <td><span th:text="${aClass.time}"></span></td>
                <td><span th:text="${aClass.course.credits}"></span></td>
                <td><span th:text="${aClass.semester}"></span></td>
                <td>
                    <div sec:authorize="hasAuthority('Admin')">
                        <p><a class="btn btn-primary" th:href ="@{/updateClass/{id}(id=${aClass.id})}">Update</a></p>
                        <p><a class="btn btn-primary" th:href ="@{/deleteClass/{id}(id=${aClass.id})}">Delete</a></p>
                    </div>
                    <div sec:authorize="hasAuthority('Student')">
                        <p><a class="btn btn-primary" th:href ="@{/enrollClassForStudent/{id}(id=${aClass.id})}">Enroll</a></p>
                        <p><a class="btn btn-primary" th:href ="@{/dropClassForStudent/{id}(id=${aClass.id})}">Drop</a></p>
                    </div>
                    <div sec:authorize="hasAuthority('Advisor')">
                        <input type="hidden" th:value ="${student_in}" name = "student_id">
                        <p><a class="btn btn-primary" th:href ="@{/enrollClassForAdvisor/{id}(id=${aClass.id})}">Enroll</a></p>
                        <p><a class="btn btn-primary" th:href ="@{/dropClassForAdvisor/{id}(id=${aClass.id})}">Drop</a></p>
                    </div>

                    <div sec:authorize="hasAuthority('Instructor')">
                        <p><a class="btn btn-primary" th:href ="@{/viewStudentInClass/{id}(id=${aClass.id})}">View Student</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>




</div>
<div class="emptySpace"></div>

<footer th:replace="base :: footer"></footer>
<br/>

<div class="space"></div>
<div th:replace="base :: scripts"></div>
</body>
</html>