<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">


    <div sec:authorize="isAuthenticated()" class="text-center">
        <th:block th:each="class:${department.classes}">
            <table>
                <tr><td><h3 th:text="${class.name}"></h3></td></tr>
                <tr>
                    <td><h3 th:text="${class.crnNumber}"></h3></td>
                    <td><h3 th:text="${class.time}"></h3></td>
                    <td><h3 th:text="${class.instructor}"></h3></td>
                    <td><h3 th:text="${class.classroom}"></h3></td>
                    <td></td>

                </tr>
            </table>
        </th:block>
    </div>


</div>
<div class="emptySpace"></div>

<footer th:replace="base :: footer"></footer>
<br/>

<div class="space"></div>
<div th:replace="base :: scripts"></div>
</body>
</html>