<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">



    <div sec:authorize="isAuthenticated()" class="text-center">
        <div th:each="department:${departments}">
            <li><h3 th:text="${department.name}"></h3></li>
            <th:block>
                <li><a th:href="@{/majors/{id}(id=${department.id})}">List all majors</h3></a></li>
                <li><a th:href="@{/courses/{id}(id=${department.id})}">List all courses</h3></a></li>
                <li><a th:href="@{/classes/{id}(id=${department.id})}">List all classes</h3></a></li>
            </th:block>
        </div>
    </div>


</div>
<div class="emptySpace"></div>

<footer th:replace="base :: footer"></footer>
<br/>

<div class="space"></div>
<div th:replace="base :: scripts"></div>
</body>
</html>


