<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="container bg-light pl-5 pr-5">

    <div class="jumbotron text-center">
        <h1>Harrison College</h1>
        <img class="image" th:src="@{/img/unipic.jpeg}" alt="college"/>
        <div class="space"></div>
        <div class="space"></div>

        <p>Harrison College is a small liberal-arts school in Harrison, Pennsylvania.
            In its 80 year history, Harrison has tried many new fads and trends, and in
            that same time period it has turned its back on just as many.</p>

        <button sec:authorize="!isAuthenticated()"  type="button" class="btn btn-info"><a href="/login" class="text-white"> Access Harrison
        </a></button>
        <div class="emptySpace"></div>
    </div>
    </div>


    <div th:each="course : ${courses}">
                <div class="col-sm">
                    <div class="space"></div>

                    <div>
                        <span sec:authorize="hasAuthority('USER')">
                            <a class="btn btn-info" th:href="@{/update/{id}(id=${message.id})}">Update</a>
                        </span>

                        <!--<span th:if="${#authentication.roles } == ${message.username}">-->
                            <!--<a class="btn btn-info" th:href="@{/update/{id}(id=${message.id})}">Update</a>-->
                        <!--</span>-->

                        <span sec:authorize="hasAuthority('ADMIN')">
                            <a class="btn btn-info" th:href="@{/update/{id}(id=${message.id})}">Update</a>
                        </span>

                        <a class="btn btn-info" th:href="@{/detail/{id}(id=${message.id})}">View</a>


                        <span sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info"
                                                                      th:href="@{/delete/{id}(id=${message.id})}">Delete</a></span>

                        <div class="space"></div>
                        <!--<a class="text-secondary" th:href="@{/delete/{id}(id=${message.id})}">Delete</a>-->
                    </div>
                </div>
            </div><!--end div row-->


        </div>
        <div class="emptySpace"></div>
    </div>

    <footer th:replace="base :: footer"></footer>
    <br/>
</div>
<div class="space"></div>
<div th:replace="base :: scripts"></div>
</body>
</html>





