<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="space"></div>
<div class="container bg-light pl-5 pr-5">
    <div class="space"></div>
    <h2>Current Schedule</h2>
    <div class="space"></div>

    <div th:each="student : ${students}">

        <!--<div class="cont-box">-->
        <!--<span>Student Name</span>-->
        <!--<div th:text="${student.name}"></div>-->
        Student Name: <span th:inline="text">[[${student.name}]]</span> &nbsp;

        Student ID: <span th:inline="text">[[${student.id}]]</span> &nbsp;

        Student number: <span th:inline="text">[[${student.number}]]</span> &nbsp;

        Student Year of Entry: <span th:inline="text">[[${student.yearOfEntry}]]</span> &nbsp;

        <br/>
    </div>

    <div class="emptySpace"></div>

</div>

</body>
</html>