<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="space"></div>
<div class="container bg-light pl-5 pr-5">
    <div class="space"></div>
    <h2>Current Schedule</h2>
    <div class="space"></div>

    <div th:each="student : ${students}">

        <!--<div class="cont-box">-->
        <!--<span>Student Name</span>-->
        <!--<div th:text="${student.name}"></div>-->
        Student Name: <span th:inline="text">[[${student.name}]]</span> &nbsp;

        Student ID: <span th:inline="text">[[${student.id}]]</span> &nbsp;

        Student number: <span th:inline="text">[[${student.number}]]</span> &nbsp;

        Student Year of Entry: <span th:inline="text">[[${student.yearOfEntry}]]</span> &nbsp;

        <br/>
    </div>

    <!--//-->
    <!--classroom:-->
    <!--<div th:each="classroom : ${classrooms}">-->
        <!--<span th:text="${classroom.buildingName}"></span> &nbsp;-->
        <!--<span th:text="${classroom.roomNumber}"></span> &nbsp;-->
        <!--<span th:text="${classroom.maxCapacity}"></span>&nbsp;-->
    <!--</div>-->

    <!--//-->
    <table>
        <tr>
            <td>crn: </td>
            <td>time: </td>
            <td>course number: </td>
            <td>subject code: </td>

            v<td>instructor: </td>
            <td>room number: </td>

        </tr>
        <tr th:each="class: ${classes}">
            <!--<td><span th:text="${class.crn}"></span></td>-->
            <!--<td><span th:text="${class.classNum}"></span></td>-->
            <!--<td><span th:text="${class.day}"></span></td>-->
            <!--<td><span th:text="${class.time}"></span></td>-->
            <!--<td><span th:text="${class.semester}"></span></td>-->
            <!--<td><span th:text="${class.course.courseName}"></span></td>-->
            <!--<td><span th:text="${class.course.subject.subjectName}"></span></td>-->
            <!--<td><span th:text="${class.course.credit}"></span></td>-->
            <!--<td><span th:text="${class.instructor.instructorName}"></span></td>-->
            <!--<td><span th:text="${class.classroom.roomNum}"></span></td>-->
            <!--<td><a th:href="@{/register/{id} {(id=${class.id})}}" class="btn btn-lg btn-success">Resister</a></td>-->


            <!--<tr>-->
            <td><span th:text="${class.crnNumber}"></span></td>
            <td><span th:text="${class.time}"></span></td>
            <td><span th:text="${class.courseNumber}"></span></td>
            <td><span th:text="${class.subjectCode}"></span></td>

        <!--<tr th:each="classroom : ${classes}">-->
            <!--<td><span th:text="${class.instructor.instructorName}"></span>-->
            <!--<td><span th:text="${class.classroom.roomNumber}"></span></td>-->
            <!--<td><span th:text="${roomNumber.classroom}"></span></td>  -->

        <!--</tr>-->
            <!--</tr>-->
        </tr>
    </table>

        <!--<div th:each="class: ${classes}">-->
            <!--<h2 th:text="${class.crnNumber}"></h2>-->

            <!--<th:block th:each=" class : ${classroom.classes}">-->

            <!--</th:block>-->

    relationship:
            <!--<div th:each="classroom: ${classroom}">-->
                <!--<h2 th:text="${classroom.roomNumber}"></h2>-->
                <!--<ul>-->
                <!--<th:block th:each=" class : ${classroom.classes}">-->
                    <!--&lt;!&ndash;<li th:inline="text"> [[${class.time}]] </li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li th:inline="text"> [[${class.crnNumber}]] </li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li th:inline="text"> [[${class.courseNumber}]] </li>&ndash;&gt;-->
                    <!--<li th:inline="text"> [[${class.subjectCode}]] </li>-->

                <!--</th:block>-->
                <!--</ul>-->
            <!--</div>-->

        <div th:each="classroom: ${classroom}">
            <h2 th:text="${classroom.roomNumber}"></h2>
            <ul>
                <th:block th:each=" class : ${classroom.classes}">
                    <!--<li th:inline="text"> [[${class.time}]] </li>-->
                    <!--<li th:inline="text"> [[${class.crnNumber}]] </li>-->
                    <!--<li th:inline="text"> [[${class.courseNumber}]] </li>-->
                    <li th:inline="text"> [[${class.subjectCode}]] </li>
                    <!--<h2 th:text="${class.subjectCode}"></h2>-->

                </th:block>
            </ul>
        </div>

    <!--<tbody>-->
    <!--<tr th:each="class : ${st.classes}">-->
        <!--<td><span th:text="${class.crn}"></span></td>-->
        <!--<td><span th:text="${class.course.courseName}"></span></td>-->
        <!--<td><span th:text="${class.day}"></span></td>-->
        <!--<td><span th:text="${class.time}"></span></td>-->
        <!--<td><span th:text="${class.classroom.buildingName}"></span></td>-->
        <!--<td><span th:text="${class.classroom.roomNum}"></span></td>-->
    <!--</tr>-->
    <!--</tbody>-->

    <div class="emptySpace"></div>

</div>

</body>
</html>